* {
  padding: 0;
  margin: 0;
}
body img {
  background-attachment: fixed;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  background-color: coral;
  text-align: center;
  font-size: 50px;
}
article {
  width: 1300px;
  margin: auto;
  padding: 20px;
  font-size: 20px;
  text-align: justify;
}
article header {
  font-size: 30px;
  font-weight: bold;
}
article img {
  width: 1000px;
  height: 500px;
}
