* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-image: url(pengertian-teknologi-informasi-featured.jpg);
  background-attachment: fixed;
  background-size: cover;
}
header {
  background-color: #ff7979;
  width: 1200px;
  margin: auto;
  padding: 20px;
  font-size: 50px;
  text-align: center;
}
article {
  background-color: #f5f6fa;
  width: 1200px;
  margin: auto;
  padding: 20px;
  font-size: 26px;
  text-align: justify;
}

article img {
  float: left;
  margin: 10px 10px 10px 0;
}

footer {
  background-color: #c0392b;
  width: 1200px;
  margin: auto;
  padding: 20px;
  font-size: 20px;
}
footer {
  color: white;
}

ul {
  margin: auto;
  padding: 10px;
  font-size: 26px;
}
table {
  width: 100%;
  text-align: center;
  font-size: 26px;
  border-style: solid;
  border-collapse: collapse;
}
td {
  text-align: justify;
  padding: 15px;
}

th {
  border-style: solid;
}

.tabel1 {
  width: 40%;
}

.tr1 {
  text-align: left;
  font-size: 26px;
  border-style: solid;
  border-collapse: collapse;
  border-color: #f5f6fa;
  border: 1;
}

.tr2 {
  text-align: left;
  font-size: 26px;
  border-style: solid;
  border-collapse: collapse;
  border-color: #f5f6fa;
  border: 1;
}

.tr3 {
  border-style: solid;
  border-collapse: collapse;
  border-color: #f5f6fa;
  border: 1;
}

.img1 {
  width: 200px;
}
